# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=transcendence_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Database URL for Prisma
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"

# Backend Configuration
NEST_PORT=3000

# 42 OAuth Configuration

FORTYTWO_CLIENT_ID=u-s4t2ud-7d90bb8b99cd17113419baa168022714f38348f4741b5b9f7db6f16766cfc793
FORTYTWO_CLIENT_SECRET=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
FORTYTWO_CALLBACK_URL=http://localhost:3000/auth/42/callback
JWT_SECRET=superSecretKeyChangeMe