# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=transcendence_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Database URL for Prisma
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"

# Backend Configuration
NEST_PORT=3000

# 42 API Information
FORTYTWO_CLIENT_ID=u-s4t2ud-
FORTYTWO_CLIENT_SECRET=s-s4t2ud-
FORTYTWO_CALLBACK_URL=http://localhost:3000/auth/42/callback
JWT_SECRET=superSecretKeyChangeMe
