# 1. Environment Variables
.env
.env.production

# 2. Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/
shared/node_modules/
backend/secrets/
frontend/secrets/

# 3. Build Artifacts
dist/
build/
backend/dist/
frontend/dist/
shared/dist/

# 4. OS & IDE Files
.DS_Store
.vscode/
.idea/

# 5. Docker / Database specific
postgres-data/
*.log

# 6. Coverage
coverage/
